:root {
  --accent-color: #2196f3;
  --second-title-color: #212121;
  --text-color: #757575;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --address-color: #ffffff;
  --title-color: #ffffff;
  --logo-color: #2196f3;
  --main-color: #212121;
  --primary-btn-color: #ffffff;
  --secondary-btn-color: #212121;
  --background-primary-btn: #2196f3;
  --add-accent-color: #188ce8;
  --background-secondary-btn: #f5f4fa;
  --background-footer: #2f303a;
  --background-header: #ffffff;
  --background-section: #f5f4fa;
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button,
textarea {
  font: inherit;
  outline: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
svg {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: var(--text-color);
  background-color: var(--background-header);
}

.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  opacity: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.second-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--second-title-color);
}

.top-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo .link:focus, .logo .link:hover {
  color: var(--accent-color);
}

.header__accent {
  color: var(--main-color);
}

.footer__accent {
  color: var(--address-color);
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header__list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header__list .link:focus, .header__list .link:hover {
  color: var(--accent-color);
}

.nav__list {
  margin-left: 93px;
  color: var(--main-color);
}
.nav__list .nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  margin-left: auto;
  align-items: center;
}
.contacts .contacts__item:not(:last-child) {
  margin-right: 50px;
}

.icon {
  display: inline-flex;
  padding-right: 10px;
  vertical-align: middle;
}
.icon:hover {
  color: var(--accent-color);
}
.icon:hover .icon__tel {
  fill: var(--accent-color);
}

.icon__mail,
.icon__tel {
  fill: var(--text-color);
}
.contacts__item:hover .icon__mail, .contacts__item:hover .icon__mail,
.contacts__item:hover .icon__tel,
.contacts__item:hover .icon__tel {
  fill: var(--accent-color);
}

.link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.link.current {
  position: relative;
}
.link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--accent-color);
}

.social {
  display: flex;
}
.social__item:last-child .social {
  margin-right: 0;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover {
  border-radius: 50%;
  background-color: var(--accent-color);
}

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.filter__btn {
  align-items: center;
  padding: 6px 22px 6px 22px;
  border: none;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:focus, .filter__btn:hover {
  background-color: var(--background-primary-btn);
  color: var(--primary-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__btn.current {
  color: var(--primary-btn-color);
  background-color: var(--background-primary-btn);
}

.filter .filter__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio__item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.portfolio__link {
  display: block;
}
.portfolio__link:focus .portfolio-transition__text {
  transform: translateX(0);
}
.portfolio__link:hover .portfolio__card, .portfolio__link:focus .portfolio__card {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__card {
  padding: 20px 24px;
  width: 370px;
  background: var(--background-header);
  border: 1px solid #eeeeee;
}
.portfolio__card:hover, .portfolio__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}

.portfolio-transition {
  position: relative;
  overflow: hidden;
}
.portfolio-transition__text {
  position: absolute;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
  top: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--primary-btn-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio__item:hover .portfolio-transition__text {
  transform: translateX(0);
}

.footer {
  background-color: var(--background-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address__list {
  color: var(--contacts-color);
  margin-top: 20px;
}
.address__list .address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__accent {
  color: var(--address-color);
}

.address__link {
  font-style: normal;
  padding-top: 25px;
  padding-bottom: 25px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__list .address__link:focus, .address__list .address__link:hover {
  color: var(--address-color);
}

.footer__join {
  align-items: baseline;
  display: flex;
}

.join {
  margin-left: 70px;
  margin-right: 93px;
}
.join__title {
  margin-bottom: 20px;
  color: var(--title-color);
}

.join__link {
  background-color: rgba(255, 255, 255, 0.1);
}
.join__link:hover, .join__link:focus {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.join__icon {
  fill: currentColor;
  fill: var(--primary-btn-color);
}
.join__icon:hover, .join__icon:focus {
  fill: var(--primary-btn-color);
}

.form {
  display: flex;
}

.subs__title {
  margin-bottom: 20px;
  color: var(--title-color);
}

.form__mail {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  font-size: 18px;
  padding-left: 20px;
  margin-right: 12px;
  background-color: var(--background-footer);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--title-color);
}
.form__mail::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__btn {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 29px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-btn-color);
  background: #2196f3;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn:hover {
  background-color: var(--add-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form__icontg {
  position: absolute;
  top: 13px;
  right: 28px;
}/*# sourceMappingURL=portfolio.css.map */