.work__link {
    display: block;
    position: relative;
}
.work__text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
    color: var(--title-color);
}

.work {
    display: flex;
    & .work__item:not(:last-child) {
        margin-right: 30px;
    }
}
